body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: rgb(95, 117, 95);
  height: 25px;
  
}


#shows-main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  
}

#shows-main-container div {
  background-color: rgb(223, 224, 220);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 20px;
  border-radius: 24px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

#casts-main-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
}

#cast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.searchbarContainer{
    display: flex;
    align-items: center;
}